/* 1.font imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');


/* 2.presets  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a, a:visited {
  text-decoration: none;
  color: currentColor;
}

button {
  font-family: inherit;
  text-decoration: none;
  text-align: center;
  border: none;
  display: inline-block;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* 3.General Styling */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  min-height: 100vh;
}

.quote-wrapper {
  display: flex;
  width: 70%;
}

/* 3.a.Mark */
.mark-box {
  height: 300px;
}

.left-mark {
  font-family: 'Yeseva One', cursive;
  font-size: 500px;
}

/* 3.b.Quote */
#quote-box {
  margin-top: 160px;
}

#text {
  font-size: 50px;
  font-weight: 100;
  line-height: 1.2;
  display: inline-block;
  margin-bottom: 20px;
  word-break: break-word;
}

#author {
  font-size: 25px;
  font-weight: 200;
  font-style: italic;
  display: block;
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
  transition: opacity 700ms ease-in-out;
}

/*3.c.Buttons  */
.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#new-quote {
  font-size: 20px;
  font-weight: 200;
  border-radius: 2px;
  color: #ffffff;
  background-color: #000000;
  padding: 20px 30px;
  margin-bottom: 10px;
  transition: background-color 250ms ease-in-out;
}

#new-quote:hover {
  background-color: #1f1f1f;
}

#tweet-quote {
  font-size: 30px;
  transition: color 250ms ease-in-out; 
}

#tweet-quote:hover {
  color: #0F9AFB;
}

@media (max-width: 1400px) {
  .quote-wrapper {
    width: 80%;
  }
  .left-mark {
    font-size: 450px;
  }
  #text {
    font-size: 45px;
  }
  #author {
    font-size: 23px;
  }
  #new-quote {
    font-size: 18px;
    padding: 18px 28px;
  }
}

@media (max-width: 1200px) {
  .quote-wrapper {
    width: 70%;
  }
  .left-mark {
    font-size: 400px;
  }
  #text {
    font-size: 40px;
  }
  #author {
    font-size: 21px;
  }
  #new-quote {
    font-size: 16px;
    padding: 16px 26px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    padding-top: 80px;
  }
  .quote-wrapper {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 100px;
  }
  .quote-wrapper {
    width: 80%;
  }
  .left-mark {
    font-size: 350px;
  }
  #text {
    font-size: 35px;
  }
  #author {
    font-size: 19px;
  }
  #new-quote {
    font-size: 14px;
    padding: 14px 24px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    padding-top: 165px;
  }
  .quote-wrapper {
    width: 100%;
    padding: 0 20px;
  }

  .mark-box {
    height: 100%;
  }
  .left-mark {
    font-size: 140px;
  }

  #quote-box {
    margin-top: 45px;
  }
  #text {
    font-size: 21px;
    margin-bottom: 12px;
  }
  #author {
    font-size: 14px;
  }
  #new-quote {
    font-size: 11px;
    padding: 10px 14px;
  }

  .buttons {
    margin-top: 35px;
  }
  #tweet-quote {
    font-size: 23px;
  }
}


